div.lsi-captcha > div {
    position: relative;
    width: 200px;
    margin: 0 auto;
}
div.lsi-captcha > div > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    opacity: 0;
    transition: opacity 1s linear 0s;
}
div.lsi-captcha > div > div.mostraLoading {
    opacity: 1;
    background-image: url('loading.png');
    animation: lsiCaptchaLoading 2s infinite linear;
}
div.lsi-captcha > div > div.mostraErro {
    opacity: 1;
    background-image: url('erro.png');
}
@keyframes lsiCaptchaLoading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
div.lsi-captcha > div > img {
    display: block;
    opacity: 0;
    width: 200px;
    height: 80px;
    margin: 0 auto;
}
div.lsi-captcha > div > img.mostra {
    animation: mostraCaptchaImg 1s 1 forwards;
}
div.lsi-captcha > div > img.esconde {
    animation: escondeCaptchaImg 1s 1 forwards;
}
@keyframes escondeCaptchaImg {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes mostraCaptchaImg {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
